# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
.DS_Store
*.cmi
*.cmo
Ocaml test/fragenotworking.ml
Ocaml test/frageworking.ml
Ocaml test/Comp
Comp
99problems_adrian
*.gdoc
Comp
